<!DOCTYPE html>
<html lang="hu">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Új üzenet a Matejka Műanyag Nagykereskedelem weboldaláról</title>
  </head>
  <body>
    <p>
      <h3>Név:</h3>{{ name }}
    </p>
    <br>

    <p>
    <h3>E-mail cím: </h3> {{ email }}
    </p>
    <br>

    <p>
    <h3>Telefonszám: </h3> {{ phone }}
    </p>
    <br>

    <p>
    <h3>Adószám: </h3> {{ taxId }}
    </p>
    <br>

    <p>
    <h3>Üzenet:</h3> {{ message }}
    </p>
    <br>
  </body>
</html>
